<div class="well">
  <div class="row">
    <div class="col-xs-4" style="background-color: antiquewhite">
      <img class="usr-height" src="./../../assets/Usr_img.png" alt="user_img">
    </div>

    <div class="col-xs-8" style="background-color: darkorange">
      <div class="row">
        <div class="col-xs-12 usr-name">
          Balaskandhan Bala Kumaran
        </div>
        <div class="col-xs-12 usr-role">
          Junior Full Stack Developer
        </div>
        <div class="col-xs-12 body-nav-bar">
          <a class="glyphicon glyphicon-home col-xs-3">{{' Home'}}</a>
          <a class="col-xs-3">Technology</a>
          <a class="col-xs-3">Experience</a>
          <a class="col-xs-3">References</a>
        </div>
      </div>
    </div>

    <button class="btn btn-danger">Danger</button>
  </div>
</div>




